.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px;
  justify-content: space-around;
  .item {
    position: relative;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex: 1 1 20%;
    @media(max-width: 960px) {
      flex: 1 1 30%;
    }
    .favorite {
      position: absolute;
      margin-top: 10px;
      right: 10px;
      cursor: pointer;
      outline: none;
    }
    .img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;	
      min-width: 300px;
    
    }
    .description{
      position: absolute;
      z-index: 100;
      background-color: white;
      border-radius: 14px;
      padding: 10px;
    }
  }
}